[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-pycharm = "*"
tox = "*"
funcsigs = "*"

[packages]
click = "*"
pyyaml = "*"
typing = "*"

[requires]
python_version = "2.7"
