install
lang en_US.UTF-8
keyboard us
timezone America/New_York --isUtc
auth --useshadow --enablemd5
selinux --disabled
firewall --disabled
services --enabled=NetworkManager,sshd
eula --agreed
ignoredisk --only-use=sdb
reboot
text

network  --bootproto=static --device={{ network_interface_name }} --gateway={{ host_default_gateway }} --ip={{ host_ip_address }} --nameserver={{ nameservers[0] }} --netmask={{ host_subnet_mask }} --activate
network  --hostname={{ hostname }}
rootpw --iscrypted {{ encrypted_password }}

bootloader --location=mbr
zerombr
clearpart --all --initlabel --drives=sdb
part /boot --fstype xfs --size=400
#  the ondisk fixed a problem with disk selection saying nothign was selected
part pv.01 --size=1 --grow --ondisk=sdb
volgroup root_vg pv.01
logvol / --fstype xfs --name=root_lv --vgname=root_vg --size=47683
logvol swap  --fstype="swap" --size=4096 --name=swap_lv --vgname=root_vg



%packages --nobase --ignoremissing
@^minimal
@compat-libraries
@core
@debugging
@development
@security-tools
chrony
kexec-tools
keyutils
fipscheck
yum-priorities
screen
net-snmp
net-snmp-utils
gmp
libgomp
ntp
sysstat
mc
wget
curl
net-tools
lsof
vim
dnsmasq
nmap
telnet
bind-utils
%end


%post --log=/root/post-install.log

yum clean all
yum update -y
systemctl enable fstrim
%end

